@@include('_head.html')

<div class="wrapper-page">
  <header class="header">
    <div class="header-content container">
      <div class="header-logo">
        <div class="header-logo-media js_header-logo">
          <!-- <img src="./images/logo.jpg" alt="Logo" /> -->

          <i class="bg-logo"></i>
        </div>
      </div>

      <ul class="header-nav">
        <li class="header-nav-item js_nav-item js_nav-main js_active">
          <p>
            Главная
          </p>
        </li>
        <li class="header-nav-item js_nav-item js_nav-about">
          <p>
            О Нас
          </p>
        </li>
        <li class="header-nav-item js_nav-item js_nav-services">
          <p>
            Услуги
          </p>
        </li>
        <li class="header-nav-item js_nav-item js_nav-reviews">
          <p>
            Отзывы
          </p>
        </li>
        <li class="header-nav-item js_nav-item js_nav-blog">
          <p>
            Блог
          </p>
        </li>
      </ul>

      <ul class="header-cabinet">
        <li>
          Авторизация
          <i class="bg-icon_enter"></i>
        </li>
        <li>
          <ul class="header-cabinet-menu">
            <li class="cabinet-menu--registration">
              <a
                href="#"
                data-fancybox
                data-src="#modal-enter"
                data-touch="false"
              >
                Войти
              </a>
            </li>
            <li class="cabinet-menu--enter">
              <a
                href="#"
                data-fancybox
                data-src="#modal-registration"
                data-touch="false"
              >
                Зарегистрироваться
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="header-nav-mobile">
        <li>
          <input id="nav-mobile" type="checkbox" />
          <label class="nav-mobile-btn" for="nav-mobile">
            <span></span>
          </label>
        </li>
        <li>
          <ul class="header-nav">
            <li class="header-nav-item js_nav-item js_nav-main js_active">
              <p>
                Главная
              </p>
            </li>
            <li class="header-nav-item js_nav-item js_nav-about">
              <p>
                О Нас
              </p>
            </li>
            <li class="header-nav-item js_nav-item js_nav-services">
              <p>
                Услуги
              </p>
            </li>
            <li class="header-nav-item js_nav-item js_nav-reviews">
              <p>
                Отзывы
              </p>
            </li>
            <li class="header-nav-item js_nav-item js_nav-blog">
              <p>
                Блог
              </p>
            </li>

            <li class="header-nav-item js_not-nav-item js_nav-item">
              <a
                href="#"
                data-fancybox
                data-src="#modal-enter"
                data-touch="false"
              >
                Войти
              </a>
            </li>

            <li class="header-nav-item js_not-nav-item js_nav-item">
              <a
                href="#"
                data-fancybox
                data-src="#modal-registration"
                data-touch="false"
              >
                Зарегистрироваться
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </header>
