<aside class="aside">
  <div class="aside-content js_aside-content">
    <div class="aside-block">
      <div class="aside-header">
        <p>
          <img src="./images/affiliats/lootBet.png" alt="lootBet" /> - Самое
          Надёжное БК
        </p>
      </div>

      <div class="aside-body">
        <div class="aside-body-block">
          <p>
            Перейдя по нашей ссылке, вы получите 100% бонус на первый депозит
          </p>

          <a href="#" class="btn js_aside-tooltip" title="100% бонус на первый депозит">
            <span>
              Перейти
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="aside-block">
      <div class="aside-header">
        <p>
          Header
        </p>
      </div>

      <div class="aside-body">
        <div class="aside-body-block">
          body
        </div>
      </div>
    </div>
  </div>
</aside>
