<footer class="footer-main">
  <div class="footer-main-content container">
    <div class="footer-main-campaign">
      <p>
        <strong> © <span class="js_data"></span> DeadPool.bets <br /> </strong>
        Все права защищены
      </p>
    </div>

    <ul class="footer-main-links">
      <li>
        <a href="#" data-fancybox data-src="#modal-deal" data-touch="false"
          >Пользовательское соглашение</a
        >
      </li>
    </ul>

    <div class="footer-main-groups">
      <p>
        Наши группы:
      </p>

      <ul>
        <li>
          <a href="#" title="Наша группа в instagram">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Наша группа в Telegram">
            <i class="icon-telegram"></i>
          </a>
        </li>
        <li>
          <a href="#" title="Наша группа в Vkontakte">
            <i class="icon-vkontakte"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
