<ul class="header-nav">
  <li class="header-nav-item js_nav-item js_nav-main js_active">
    <p>
      Главная
    </p>
  </li>
  <li class="header-nav-item js_nav-item js_nav-about">
    <p>
      О Нас
    </p>
  </li>
  <li class="header-nav-item js_nav-item js_nav-services">
    <p>
      VIP услуги
    </p>
  </li>
  <li class="header-nav-item js_nav-item js_nav-reviews">
    <p>
      Отзывы
    </p>
  </li>
  <li class="header-nav-item js_nav-item js_nav-blog">
    <p>
      Блог
    </p>
  </li>
</ul>