
  <div class="js_page js_about js_hidden">
    <section class="about container">
      <div class="about-content">
        <h1>
          Немного О Нас
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
      </div>

      @@include('../aside.html')
    </section>
  </div>