<div class="js_page js_blog js_hidden">
  <section class="blog container">
    <h1>
      БЛОГ
    </h1>

    <div class="blog-content">
      <div class="blog-block blog-block-row">
        <a href="./blog-page.html" class="blog-block-header"
          ><img src="./images/main_bg-mobile.jpg" alt="Image"
        /></a>

        <div class="blog-block-body">
          <span>
            2020-04-21
          </span>

          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            laudantium corporis modi? A atque incidunt iusto rerum optio
            perferendis rem vel sint unde consequatur provident illum quasi,
            corporis cumque saepe?
          </p>

          <a href="./blog-page.html" class="btn js_aside-tooltip" title="Читать Подробнее">
            <span>
              Подробнее
            </span>
          </a>
        </div>
      </div>
      <div class="blog-block">
        <a href="./blog-page.html" class="blog-block-header"
          ><img src="./images/main_bg-mobile.jpg" alt="Image"
        /></a>

        <div class="blog-block-body">
          <span>
            2020-04-21
          </span>

          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            laudantium corporis modi? A atque incidunt iusto rerum optio
            perferendis rem vel sint unde consequatur provident illum quasi,
            corporis cumque saepe?
          </p>

          <a href="./blog-page.html" class="btn js_aside-tooltip" title="Читать Подробнее">
            
            <span>
              Подробнее
            </span>
          </a>
        </div>
      </div>
      <div class="blog-block blog-block-row">
        <a href="./blog-page.html" class="blog-block-header"
          ><img src="./images/main_bg-mobile.jpg" alt="Image"
        /></a>

        <div class="blog-block-body">
          <span>
            2020-04-21
          </span>

          <h3>
            Lorem ipsum dolor sit amet consectetur adipisicing.
          </h3>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro
            laudantium corporis modi? A atque incidunt iusto rerum optio
            laudantium corporis modi? A atque incidunt iusto rerum optio
            laudantium corporis modi? A atque incidunt iusto rerum optio
            laudantium corporis modi? A atque incidunt iusto rerum optio
            laudantium corporis modi? A atque incidunt iusto rerum optio
            perferendis rem vel sint unde consequatur provident illum quasi,
            corporis cumque saepe?
          </p>

          <a href="./blog-page.html" class="btn js_aside-tooltip" title="Читать Подробнее">
            
            <span>
              Подробнее
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
