<div class="js_page js_main">
  <section class="entry">
    <div class="container">
      <h1>
        Прогнозы на матчи CS:GO и dota
      </h1>

      <div class="entry-content">
        <div class="entry-content-game">
          <i class="bg-icon_dota_active"></i>
          <p>Прогнозов: <span class="js_dota-forecasts-count">250</span></p>
          <p>Побед: <span class="js_dota-forecasts-wins">250</span></p>
          <p>Винрейт: <span class="js_dota-forecasts-winrate">100%</span></p>
        </div>
        <div class="entry-content-game">
          <!-- <img src="./images/icon-csgo-active.png" alt="CSGO" /> -->
          <i class="bg-icon_csgo_active"></i>
          <p>Прогнозов: <span class="js_csgo-forecasts-count">250</span></p>
          <p>Побед: <span class="js_csgo-forecasts-wins">250</span></p>
          <p>Винрейт: <span class="js_csgo-forecasts-winrate">100%</span></p>
        </div>
      </div>
    </div>
  </section>

  <section class="main-page-content container">
    <div class="main-page-forecasts">
      <nav class="forecasts-nav">
        <div
          class="forecasts-nav-item js_forecasts-nav--item js_active"
          data-role="forecasts-dota"
        >
          <p>
            <span>
              DOTA 2
            </span>
          </p>
        </div>
        <div
          class="forecasts-nav-item js_forecasts-nav--item"
          data-role="forecasts-csgo"
        >
          <p>
            <span>
              CSGO
            </span>
          </p>
        </div>
      </nav>

      <div class="forecasts-content">
        <div
          class="forecasts-content-wrapper js_forecasts-content--wrapper"
          data-role="forecasts-dota"
        >
          <h3>
            Текущие События
          </h3>

          <div class="forecasts-content-now">
            <div class="forecasts-content-item js_forecasts-lose">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item js_forecasts-win">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
          </div>

          <p class="forecasts-empty-now js_forecasts-now-empty">
            Пока нет текущих событий
          </p>

          <h3>
            Предстоящие События
          </h3>

          <div class="forecasts-content-future"></div>

          <p class="forecasts-empty-future js_forecasts-future-empty">
            Пока нет предстоящих событий
          </p>
        </div>

        <div
          class="forecasts-content-wrapper js_forecasts-content--wrapper js_hidden"
          data-role="forecasts-csgo"
        >
          <h3>
            Текущие События
          </h3>

          <div class="forecasts-content-now"></div>

          <p class="forecasts-empty-now js_forecasts-now-empty">
            Пока нет текущих событий
          </p>
          <h3>
            Предстоящие События
          </h3>

          <div class="forecasts-content-future">
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
            <div class="forecasts-content-item">
              <p>
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
              </p>

              <img
                src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                alt="Image"
              />
            </div>
          </div>
          <p class="forecasts-empty-future js_csgo-forecasts-future-empty">
            Пока нет предстоящих событий
          </p>
        </div>
      </div>
    </div>

    @@include('../aside.html')
  </section>
</div>
