<div class="js_page js_reviews js_hidden">
  <section class="reviews container">
    <div class="reviews-content">
      <h1>
        Отзывы наших клиентов
      </h1>
      <div class="reviews-slider js_reviews-slider">
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
        <div class="reviews-slider-item">
          <img src="./images/review.jpg" alt="Review" />
        </div>
      </div>
    </div>

    @@include('../aside.html')
  </section>
</div>