<div class="js_page js_services js_hidden">
  <section class="services container">
    <div class="services-content">
      <h1>
        VIP услуги
      </h1>

      <div class="services-content-body">
        <div class="services-content-block">
          <h3>Экспресс: <span>1000 руб.</span></h3>

          <a href="#" class="btn js_services-tooltip" title="Поднять Бабок">
            <span>
              Купить
            </span>
          </a>
        </div>
        <div class="services-content-block">
          <h3>VIP прогноз: <span>500 руб.</span></h3>

          <a href="#" class="btn js_services-tooltip" title="Поднять Бабок">
            <span>
              Купить
            </span>
          </a>
        </div>
        <div class="services-content-block">
          <h3>Подписка: <span>5000 руб./месяц</span></h3>

          <a href="#" class="btn js_services-tooltip" title="Поднять Бабок">
            <span>
              Купить
            </span>
          </a>
        </div>
        <div class="services-content-block">
          <h3>Подписка: <span>1500 руб./неделя</span></h3>

          <a href="#" class="btn js_services-tooltip" title="Поднять Бабок">
            <span>
              Купить
            
            </span>
          </a>
        </div>
      </div>
    </div>

    @@include('../aside.html')
  </section>
</div>
