.footer-main {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $brand-black;
  z-index: 10;

  &-content {
    display: flex;
    align-items: center;

    flex-direction: column;
    justify-content: center;

    @media (min-width: 640px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-campaign {
    width: 100%;
    max-width: 160px;
    order: 3;
    font-size: 14px;


    @media (min-width: 640px) {
      order: unset;
    }
    @media (min-width: 960px) {
      max-width: 250px;
      font-size: 16px;
    }

    p {
      display: block;
      color: $brand-white;
      margin-left: 0;
      text-align: center;
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    order: 1;
    margin-bottom: 20px;

    @media (min-width: 640px) {
      order: unset;
      margin-bottom: 0;
    }

    li {
      margin-left: 10px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    a {
      display: block;
      color: $brand-white;
      transition: 0.4s ease;
      font-size: 14px;

      &:hover {
        color: darken($brand-white, 20%);
        text-decoration: underline;
      }

      &:active {
        transition: 0s;
        color: lighten($brand-danger, 10%);
      }

      @media (min-width: 960px) {
        font-size: 16px;
      }
    }
  }

  &-groups {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    max-width: 160px;
    font-weight: bold;
    order: 2;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;

    @media (min-width: 640px) {
      margin-bottom: 0;
      align-items: flex-end;
      order: unset;
    }

    @media (min-width: 960px) {
      max-width: 250px;
      font-size: 16px;
    }

    p {
      color: $brand-white;
      margin-bottom: 5px;

      @media (min-width: 640px) {
        margin-bottom: 10px;
      }
    }

    i {
      font-size: 18px;
      color: $brand-default;
      transition: 0.4s ease;
      position: relative;

      &:hover {
        color: $brand-danger;
      }

      &:active {
        color: darken($brand-danger, 10%);
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media (min-width: 640px) {
      justify-content: flex-end;
      }

      li {
        margin-right: 20px;

        &:last-of-type {
          margin-right: 10px;
        }
      }
    }
  }
}
