.about {
  &-content {
    display: flex;
    flex-direction: column;

    p {
      padding-right: 20px;
      margin-bottom: 15px;
      width: 100%;
      display: block;
      text-align: left;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (max-width: 640px) {
        margin-bottom: 10px;
        padding-right: 0;
      }
    }
  }
}
