@@include('../components/_header-page.html')

<main class="main-page blog-page js_blog-page">

  <section class="blog-page-wrapper container">
    <div class="blog-page-content">
      <h1>
        Блог
      </h1>

      <h3>
        Lorem, ipsum.
      </h3>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis vel
        ducimus numquam illum provident rerum aliquam, dignissimos, vel ducimus
        numquam illum provident rerum aliquam, dignissimos, vel ducimus numquam
        illum provident rerum aliquam, dignissimos, vel ducimus numquam illum
        provident rerum aliquam, dignissimos, vel ducimus numquam illum
        provident rerum aliquam, dignissimos, vel ducimus numquam illum
        provident rerum aliquam, dignissimos, vel ducimus numquam illum
        provident rerum aliquam, dignissimos
      </p>
      <img src="./images/main_bg-mobile.jpg" alt="Image" />
    </div>

    @@include('../components/aside.html')
  </section>
</main>

@@include('../components/_footer.html')
