@@include('../components/_header-page.html')

<main class="main-page">

  <div class="js_page js_main">
    <section class="entry">
      <div class="container">
        <h1>
          Прогнозы на матчи CS:GO и dota
        </h1>

        <div class="entry-content">
          <div class="entry-content-game">
            <i class="bg-icon_dota_active"></i>
            <p>Прогнозов: <span class="js_dota-forecasts-count">250</span></p>
            <p>Побед: <span class="js_dota-forecasts-wins">250</span></p>
            <p>Винрейт: <span class="js_dota-forecasts-winrate">100%</span></p>
          </div>
          <div class="entry-content-game">
            <!-- <img src="./images/icon-csgo-active.png" alt="CSGO" /> -->
            <i class="bg-icon_csgo_active"></i>
            <p>Прогнозов: <span class="js_csgo-forecasts-count">250</span></p>
            <p>Побед: <span class="js_csgo-forecasts-wins">250</span></p>
            <p>Винрейт: <span class="js_csgo-forecasts-winrate">100%</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="main-page-content container">
      <div class="main-page-forecasts">
        <nav class="forecasts-nav">
          <div
            class="forecasts-nav-item js_forecasts-nav--item js_active"
            data-role="forecasts-dota"
          >
            <p>
              <span>
                DOTA 2
              </span>
            </p>
          </div>
          <div
            class="forecasts-nav-item js_forecasts-nav--item"
            data-role="forecasts-csgo"
          >
            <p>
              <span>
                CSGO
              </span>
            </p>
          </div>
        </nav>

        <div class="forecasts-content">
          <div
            class="forecasts-content-wrapper js_forecasts-content--wrapper"
            data-role="forecasts-dota"
          >
            <h3>
              Текущие События
            </h3>

            <div class="forecasts-content-now">
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
            </div>

            <p class="forecasts-empty-now js_forecasts-now-empty">
              Пока нет текущих событий
            </p>

            <h3>
              Предстоящие События
            </h3>

            <div class="forecasts-content-future"></div>

            <p class="forecasts-empty-future js_forecasts-future-empty">
              Пока нет предстоящих событий
            </p>
          </div>

          <div
            class="forecasts-content-wrapper js_forecasts-content--wrapper js_hidden"
            data-role="forecasts-csgo"
          >
            <h3>
              Текущие События
            </h3>

            <div class="forecasts-content-now"></div>

            <p class="forecasts-empty-now js_forecasts-now-empty">
              Пока нет текущих событий
            </p>
            <h3>
              Предстоящие События
            </h3>

            <div class="forecasts-content-future">
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
              <div class="forecasts-content-item">
                <p>
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                  Начинаю новую лесенку с 500 рублей до 5000 рублей🔥🔥🔥
                </p>

                <img
                  src="https://sun9-7.userapi.com/c857332/v857332573/e20d7/_jIFnVHH1PQ.jpg"
                  alt="Image"
                />
              </div>
            </div>
            <p class="forecasts-empty-future js_csgo-forecasts-future-empty">
              Пока нет предстоящих событий
            </p>
          </div>
        </div>
      </div>

      @@include('../components/aside.html')
    </section>
  </div>

  <div class="js_page js_about js_hidden">
    <section class="about container">
      <div class="about-content">
        <h1>
          Немного О Нас
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptates
          impedit consequatur, placeat distinctio officiis, voluptas aspernatur
          debitis, ex dignissimos voluptatum maiores optio. Ab optio, omnis
          praesentium accusantium unde id!
        </p>
      </div>

      @@include('../components/aside.html')
    </section>
  </div>

  <div class="js_page js_services js_hidden">
    <section class="services container">
      <div class="services-content">
        <h1>
          VIP услуги
        </h1>

        <div class="services-content-body">
          <div class="services-content-block">
            <h3>Экспресс: <span>1000 руб.</span></h3>

            <a href="#" class="btn">
              Купить
            </a>
          </div>
          <div class="services-content-block">
            <h3>VIP прогноз: <span>500 руб.</span></h3>

            <a href="#" class="btn">
              Купить
            </a>
          </div>
          <div class="services-content-block">
            <h3>Подписка: <span>5000 руб./месяц</span></h3>

            <a href="#" class="btn">
              Купить
            </a>
          </div>
          <div class="services-content-block">
            <h3>Подписка: <span>1500 руб./неделя</span></h3>

            <a href="#" class="btn">
              Купить
            </a>
          </div>
        </div>
      </div>

      @@include('../components/aside.html')
    </section>
  </div>

  <div class="js_page js_reviews js_hidden">
    <section class="reviews container">
      <div class="reviews-content">
        <h1>
          Отзывы наших клиентов
        </h1>
        <div class="reviews-slider js_reviews-slider">
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
          <div class="reviews-slider-item">
            <img src="./images/review.jpg" alt="Review" />
          </div>
        </div>
      </div>

      @@include('../components/aside.html')
    </section>
  </div>

  <div class="js_page js_blog js_hidden">
    <section class="blog container">
      <div class="blog-content">
        <h1>
          Блог
        </h1>
        <div class="blog-content-block">
          <div class="blog-content-text">
            <h3>
              Lorem, ipsum.
            </h3>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum pro
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              soluta praesentium labore accusantium harum, id temporibus
              possimus. Voluptate nostrum asperiores ipsam adipisci, possimus
              accusamus, architecto doloribus minima cum ex incidunt ea nam,
              facilis alias esse cupiditate sed aut quia doloremque. Voluptatum,
              ipsa.
            </p>
            <img src="./images/main_bg-mobile.jpg" alt="Image">

            <a href="#" class="btn">Подробнее</a>
          </div>
<!-- 
          <div class="blog-content-media">
            <img src="./images/main_bg-mobile.jpg" alt="Image">
          </div> -->
        </div>
        <div class="blog-content-block">
          <div class="blog-content-text">
            <h3>
              Lorem, ipsum.
            </h3>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum pro
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              vel ducimus numquam illum provident rerum aliquam, dignissimos,
              soluta praesentium labore accusantium harum, id temporibus
              possimus. Voluptate nostrum asperiores ipsam adipisci, possimus
              accusamus, architecto doloribus minima cum ex incidunt ea nam,
              facilis alias esse cupiditate sed aut quia doloremque. Voluptatum,
              ipsa.
            </p>
            <img src="./images/main_bg-mobile.jpg" alt="Image">

            <a href="#" class="btn">Подробнее</a>
          </div>
<!-- 
          <div class="blog-content-media">
            <img src="./images/main_bg-mobile.jpg" alt="Image">
          </div> -->
        </div>
      </div>

      @@include('../components/aside.html')
    </section>
  </div>
</main>

@@include('../components/_footer.html')
