<section id="modal-deal" class="modal-deal" style="display: none;">
  <h1>
    Пользовательское Соглашение
  </h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime eligendi,
    labore aut consequuntur quae quisquam quo consectetur soluta aperiam illo
    tempora sapiente. Nisi animi cumque alias, voluptatum blanditiis consequatur
    odio.
  </p>
</section>
