<section
  id="modal-enter"
  class="cabinet-enter cabinet-form"
  style="display: none;"
>
  <h1>
    Вход
  </h1>

  <form>
    <div class="form-control">
      <label for="enter_login">Введите свой логин</label>
      <input
        id="enter_login"
        type="text"
        name="enter_login"
        placeholder="Введите логин"
      />
      <i class="fas fa-user"></i>
    </div>
    <div class="form-control">
      <label for="enter_password">Введите свой пароль</label>
      <input
        id="enter_password"
        type="password"
        name="enter_password"
        placeholder="Введите Пароль"
        autocomplete="on"
      />
      <i class="fas fa-lock"></i>
    </div>

    <button type="submit" class="btn js_enter-btn">
      <span>
        Войти
      </span>
    </button>

    <a href="#">
      Восстановить пароль
    </a>
  </form>
</section>
