
.bg-logo {
    width: 120px; height: 120px;
    background: url('../../images/css_sprites.png') -10px -10px;
}

.bg-icon_dota {
    width: 37px; height: 37px;
    background: url('../../images/css_sprites.png') -10px -150px;
}

.bg-icon_dota_active {
    width: 37px; height: 37px;
    background: url('../../images/css_sprites.png') -67px -150px;
}

.bg-icon_csgo_active {
    width: 58px; height: 42px;
    background: url('../../images/css_sprites.png') -150px -10px;
}
.bg-icon_csgo {
    width: 58px; height: 42px;
    background: url('../../images/css_sprites.png') -150px -72px;
}