.fancybox {
  &-content {
    padding: 0 !important;
    border-radius: 6px;
    box-shadow: none;
    background-color: transparent;
    overflow: unset;
    width: 100%;

    @media (min-width: 640px) {
      width: auto;
    }
  }

  &-button {
    svg {
      color: $brand-white;
      transition: 0.4s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
