

.icon-down-open:before {
  content: "\e800";
} /* '' */
.icon-left-open:before {
  content: "\e801";
} /* '' */
.icon-right-open:before {
  content: "\e802";
} /* '' */
.icon-up-open:before {
  content: "\e803";
} /* '' */
.icon-thumbs-up:before {
  content: "\e804";
} /* '' */
.icon-thumbs-down:before {
  content: "\e805";
} /* '' */
.icon-chart-bar:before {
  content: "\e806";
} /* '' */
.icon-login:before {
  content: "\f02c";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-vkontakte:before {
  content: "\f189";
} /* '' */
.icon-chart-line:before {
  content: "\f201";
} /* '' */
.icon-telegram:before {
  content: "\f2c6";
} /* '' */
