.slick {
  &-slide {
    img {
      width: 100%;
      max-width: 85%;
      margin: 0 auto;
    }
  }

  &-next,
  &-prev {
    width: auto !important;
    height: 32px;
    z-index: 10;
    top: 50% !important;
    opacity: 1 !important;
    color: $brand-danger;
    transition: color 0.4s ease;

    &:focus:before,
    &:hover:before {
      color: lighten($brand-danger, 15%);
    }

    &:before {
      font-size: 20px;
      display: block;
    }

    @media (max-width: 640px) {
      width: 20px !important;
      height: 20px;
      &:before {
        font-size: 16px;
      }
    }
  }
  &-next {
    &:before {
      content: "\e802" !important;
      font-family: "fontello";
    }
    right: 10px;

    @media (max-width: 640px) {
      right: 0;
    }
  }
  &-prev {
    &:before {
      font-family: "fontello";
      content: "\e801" !important;
    }
    left: 10px;

    @media (max-width: 640px) {
      left: 0;
    }
  }
}
